---
import menu from '../../datos/menus.json';
---
{
      menu && menu.MainDishes.map((item)=>(
        <li><a class="dropdown-item"href=`/?id=${item}` id={item} data-name={item}>{item}</a></li>
    ))
}
